@model Informatica_5vwo_project.Databases.Person

@{
    ViewData["Title"] = "Contact pagina";
}

@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="contact-content">
    <h1 class="titel">@ViewData["Title"]</h1>

    <div class="blok">
        <form method="post">
            <div>Voornaam: <input type="text" name="firstname" /></div>
            @Html.ValidationMessageFor(m => m.FirstName)
            <div>Achternaam: <input type="text" name="lastname" /></div>
            @Html.ValidationMessageFor(m => m.LastName)
            <div>E-mail: <input type="text" name="email" /></div>
            @Html.ValidationMessageFor(m => m.Email)
            <div>Telefoon: <input type="text" name="phone" /></div>
            <div>Adres: <input type="text" name="Address" /></div>
            <div>Beschrijving: <input type="text" name="description" /></div>
            @Html.ValidationMessageFor(m => m.Description)
            <input type="submit" value="verstuur" />
        </form>

        @if (Model != null)
        {
            <p>Hallo @Model.LastName, @Model.FirstName @Model.LastName</p>
        }
    </div>
</div>

<style>
    form{
        color: white;
        margin-left: 1vw;

    }

</style>