@model Informatica_5vwo_project.Databases.Person

@{
    ViewData["Title"] = "Contact pagina";
}

@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="contact-content">
    <h1 class="titel">@ViewData["Title"]</h1>

    <div class="blok">
        <form method="post">
            <div>Voornaam: <input type="text" name="firstname" /></div>
            <p class="verplicht-bericht">@Html.ValidationMessageFor(m => m.FirstName)</p>
            <div>Achternaam: <input type="text" name="lastname" /></div>
            <p class="verplicht-bericht">@Html.ValidationMessageFor(m => m.LastName)</p>
            <div>E-mail: <input type="text" name="email" /></div>
            <p class="verplicht-bericht">@Html.ValidationMessageFor(m => m.Email)</p>
            <div>Telefoon: <input type="text" name="phone" /></div>
            <p></p>
            <div>Adres: <input type="text" name="Address" /></div>
            <p></p>
            <div>Beschrijving: <input type="text" name="description" /></div>
            <p class="verplicht-bericht">@Html.ValidationMessageFor(m => m.Description)</p>
            <input type="submit" value="verstuur" />
        </form>
    </div>
</div>

<style>

    .verplicht-bericht {
        font-style: italic;
    }



</style>