@using Informatica_5vwo_project.Databases
@model Informatica_5vwo_project.Databases.Films



@{
    ViewData["Title"] = "Details pagina";
}

@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<div class="films-content">
    <h1 class="titel">@ViewData["Title"]</h1>

    <div class="blok">
        <img src="https://raw.githubusercontent.com/Thepenguincoder/Informatica-5vwo-project/OkayWeWorkFromThisNow/download%20(9).png" />
        <div class="film-text">
            <p class="naam">@Model.Naam</p>
            <p class="overige-info">@Model.Genres, @Model.Taal, @Model.Leeftijd</p>
            <p class="datum-tijd">@Model.Datum, @Model.Begintijd - @Model.Eindtijd</p>
            <p class="description">@Model.Beschrijving</p>
        </div>
    </div>
</div>

<style>
    img {
        float: left;
        margin-right: 1vw;
        border-radius: 5px;
    }

</style>

