@using Informatica_5vwo_project.Databases
@model Informatica_5vwo_project.Databases.FilmViewModel



@{
    ViewData["Title"] = "Details pagina";
}

@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<div class="films-content">
    <h1 class="titel">@ViewData["Title"]</h1>

    <div class="blok">
        <img src="https://raw.githubusercontent.com/Thepenguincoder/Informatica-5vwo-project/OkayWeWorkFromThisNow/download%20(9).png" />
        <div class="film-text">
            <p class="naam">@Model.Film.Naam</p>
            <p class="overige-info">@Model.Film.Genres, @Model.Film.Taal, @Model.Film.Leeftijd</p>
            <p class="datum-tijd">@Model.Film.Datum, @Model.Film.Begintijd - @Model.Film.Eindtijd</p>
            <p class="description">@Model.Film.Beschrijving</p>
            @foreach (Voorstellingen v in Model.Voorstellingen)
            {
                <p>@v.Datum</p>
            }
        </div>
    </div>   
</div>

<style>
    img {
        float: left;
        margin-right: 1vw;
        border-radius: 5px;
    }

</style>

