@using Informatica_5vwo_project.Databases
@model Informatica_5vwo_project.Databases.FilmViewModel



@{
    ViewData["Title"] = "Details pagina";
}

@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<div class="films-content">
    <h1 class="titel">@ViewData["Title"]</h1>

    <div class="blok">
        <a href="https://localhost:44314/details/@Model.Film.Id"><img class="poster" src="@Model.Film.Poster" /></a>
        <p class="naam">@Model.Film.Naam</p>
        <p>Genre(s): @Model.Film.Genres</p>
        <p>Taal en leeftijd: @Model.Film.Taal, @Model.Film.Leeftijd</p>
        <p>@Model.Film.Beschrijving</p>
        <p class="voorstellingen">Voorstellingen:</p>
        @foreach (Voorstellingen v in Model.Voorstellingen)
        {
            <p>@v.Datum, @v.Begintijd - @v.Eindtijd, zaal @v.Zaal</p>
            <p>Nog: @v.Beschikbaarheid tickets over</p>
        }
        <p><a class="betalen" href="https://localhost:44314/betalen">Klik hier tickets te kopen.</a></p>
    </div>   
</div>


