@using Informatica_5vwo_project.Databases
@model List<Films>

@{
    ViewData["Title"] = "overzich pagina";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page-content">
    <h1>Alle Films!</h1>
    <div class="films">
        @foreach (Films p in Model)
        {
        <div class="film-info">
            <a class="poster" href="https://localhost:44314/films/@p.Id">
            <img src="https://raw.githubusercontent.com/Thepenguincoder/Informatica-5vwo-project/OkayWeWorkFromThisNow/download%20(9).png" />
            </a>
            <div class="film-text">
                <p class="naam"><a href="https://localhost:44314/films/@p.Id">@p.Naam</a></p>
                <p class="description">@p.Beschrijving</p>
                <p class="overige-info">@p.Genres, @p.Taal, @p.Leeftijd</p>
            </div>
        </div>
        }
    </div>
    
</div>

<style>
    a {
        color: white;
        text-decoration: none;
    }

    h1 {
        margin: 2vw 0vw 0vw 10vw;
    }

    .poster {
        float: left;
    }

    .film-info {
        float: left;
        display: block;
        border-radius: 5px;
        background-color: orangered;
        color: black;
        font-size: large;
        text-align: justify;
        text-decoration: none;
        padding: 2vw 2vw 2vw 2vw;
        width: 80vw;
        height: auto;
        margin: 5vw 0vw 0vw 10vw;
    }
</style>
