@using Informatica_5vwo_project.Databases
@model List<Films>

@{
    ViewData["Title"] = "overzich pagina";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="overzicht-content">
    <h1>Alle films!</h1>
    <div class="films">
        @foreach (Films p in Model)
        {
        <div class="film-info">
            <a class="poster" href="https://localhost:44314/details/@p.Id">
            <img src="@p.Poster" />
            </a>
            <div class="film-text">
                <p class="naam"><a href="https://localhost:44314/details/@p.Id">@p.Naam</a></p>
                <p class="overige-info">@p.Genres, @p.Taal, @p.Leeftijd</p>
                <p class="datum-tijd">@p.Datum, @p.Begintijd - @p.Eindtijd</p>
                <p class="description">@p.Beschrijving</p>
            </div>
        </div>
        }
    </div>
    
</div>

<style>
    img {

    }

    a {
        color: white;
        text-decoration: none;
    }

    h1 {
        margin: 2vw 0vw 1vw 11vw;
    }

    .poster img{
        float: left;
        margin-right: 1vw;
        border-radius: 5px;
    }

    .film-info {
        float: left;
        display: block;
        border-radius: 5px;
        background-color: orangered;
        color: black;
        font-size: large;
        text-align: justify;
        text-decoration: none;
        padding: 2vw;
        width: 80vw;
        height: auto;
        margin: 1vw 0vw 1vw 10vw;
    }
</style>
