@model Informatica_5vwo_project.Databases.Person

@{
    ViewData["Title"] = "Sign-up pagina";
}

@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="contact-content">
    <h1 class="titel">@ViewData["Title"]</h1>

    <div class="blok">
        <form method="post">
            <p>Voornaam:</p>
            <div><input type="text" name="voornaam" placeholder="Uw voornaam" /></div>
            <p class="verplicht">@Html.ValidationMessageFor(m => m.voornaam)</p>

            <p>Achternaam:</p>
            <div><input type="text" name="achternaam" placeholder="Uw achternaam" /></div>
            <p class="verplicht">@Html.ValidationMessageFor(m => m.achternaam)</p>

            <p>Email:</p>
            <div><input type="text" name="email" placeholder="voorbeeld@gmail.com" /></div>
            <p class="verplicht">@Html.ValidationMessageFor(m => m.email)</p>

            <p>Wachtwoord:</p>
            <div><input type="text" name="wachtwoord" placeholder="Uw wachtwoord" /></div>
            <p class="verplicht">@Html.ValidationMessageFor(m => m.wachtwoord)</p>

            <div><input type="submit" value="verstuur" /></div>
        </form>
    </div>
</div>
